# Ignorer les fichiers compilés
*.o
*.out
*.class

# Ignorer les dossiers système et IDE
.DS_Store
node_modules/
.vscode/
.idea/

# Ignorer les fichiers de configuration
.venv/
.env
config/*.json

# Ignorer la base de données SQLite et le dossier instance
instance/
*.sqlite3
*.db
